.booking-button-container{
    margin-top: 48px;
    padding: 20px 48px;
}

.booking-button-container button{
    width: 100%;
    background-color: #6A536A;
    height: 46px;
    border: 1px solid #6A536A;
    border-radius: 16px;

}